server:
  port: 8080
spring: 
  cloud:
    config:
      server:
        git:
          default-label: master
          uri: https://github.com/jatuncarc/
          search-paths: config-files
  application:
    name: bootcamp-config